<div class="container mx-auto px-7">
    <div class="home">
        <div class="home__left__side"></div>
        <div class="home__right__side">
            <% @opinions.each do |opinion|  %>
                <h1><%= opinion.title %></h1>
            <% end %>
        </div>
    </div>
</div>