body {
  // background-color: cadetblue;  
}

.mobile-hide {
  display: none; 
}

.hamburger-fixed { 
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}

.height {
  height: 6px;
  width: 100%;
  border-color: rgba(114, 103, 114, 0.37);
}

.header {
  letter-spacing: -2px;
  font-size: 28px;
}

#bgIcon {
  padding-left: 10px;
}

#menuList {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgb(228, 220, 220);
  z-index: 99;
}

#closeIcon {
  position: absolute;
  top: 7px;
  right: 12px;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

.svgWidth{
  width: 20px;
  height: 20px;
}

.sidebar__list {
  margin: 40px 12px 12px 12px;
  // background-color: #fff;
}

.sidebar__item {
  font-size: 20px;
  font-weight: 500;
  padding: 12px;
}

#dropdown {
  position: fixed;
  top: 70px;
  right: 0;
  width: 100%;
  height: calc(100% - 70px);
}

.menuAvatar {
  padding: 8px 9px;
}

.title input[type="text"], .category select {
  border-radius: 6px;
  border: 1px solid lightgray;
}

 .content {
  width: 100%;
  height: 150px;
  border-radius: 6px;
  border: 1px solid lightgray;
}

input[type='file'] {
  width: 100%;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.editor {
  display: flex;
}

.editor input[type="checkbox"] {
  width: 28px;
  height: 28px;
  margin: 0 10px 0 0;
}

.field {
  font-size: 1.125rem;
}

.field input[type="text"], .field input[type="email"], .field input[type="password"] {
  width: 100%;
  font-size: 1.125rem;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.edit_user{
  width: 100%;
}

.world__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -4px;
}

.news__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
}

@media screen and (min-width: 768px) {
  .world__news1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .world__news1__item:nth-child(odd) {
    padding: 0 20px 20px 0;
    border-bottom: 1px solid lightgray;
  }
  
  .world__news1__item:nth-child(even) {
    padding: 0 0 20px 20px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .world__news2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .world__news2__item:nth-child(odd) {
     padding: 20px 20px 20px 0;
    border-bottom: 1px solid lightgray;
  }

  .world__news2__item:nth-child(even) {
    padding: 20px 0 20px 20px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .world__news3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .world__news3__item:nth-child(odd) {
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid lightgray;
  }

  .world__news3__item:nth-child(even) {
    padding: 20px 0 20px 20px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .world__news3 .news__title {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .mobile-hide {
    display: flex;
  }  

  .header {
    font-size: 44px;
  }
  #bgIcon {
    padding-left: 0;
  }

  #menuList {
    width: 300px;
  }

  #dropdown {
    position: fixed;
    top: 100px;
    right: 0;
    width: 30%;
    height: calc(100% - 100px);
  }

  .world__news {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
  
  .world__news2 {
    display: flex;
    flex-direction: column;
  }  

  .world__news1__item:nth-child(even) {
    padding: 0 20px 20px 20px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .world__news2__item:nth-child(odd) {
    padding: 0 0 20px 20px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .world__news2__item:nth-child(even) {
    padding: 20px 0 20px 20px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
}  
