<div class="container mx-auto px-7">
    <footer class=" bg-white dark:bg-gray-800 border-t-2">
        <div class="2xl:container 2xl:mx-auto sm:py-6 sm:px-7 py-5 px-4">
            <div class="flex flex-col justify-center items-center"> 
                
                <p>&#169; 2022 The Punfam Times</p>
                <div class="flex flex-wrap justify-center items-center">
                    <p class="mx-3 my-1">Contact us</p>
                    <p class="mx-3 my-1">Work with us</p>
                    <p class="mx-3 my-1">Advertise</p>
                    <p class="mx-3 my-1">Your AdChoices</p>
                    <p class="mx-3 my-1">Privacy Policy</p>
                    <p class="mx-3 my-1">Terms of Services</p>
                    <p class="mx-3 my-1">Site Map</p>
                    <p class="mx-3 my-1">Help</p>
                    <p class="mx-3 my-1">Subscriptions</p>
                </div> 
            </div>   
            </div>
        </div>    
    </footer>
      
    </div>