<div class="container px-7">
    <footer class=" bg-white dark:bg-gray-800 border-t-2">
        <div class="2xl:container 2xl:mx-auto sm:py-6 sm:px-7 py-5 px-4">
            <div class="flex flex-col justify-center items-center"> 

                <%# <div class="hidden sm:flex flex-row items-center space-x-6 border">
                    <img class="dark:bg-white  p-1 rounded  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg1.svg" alt="twitter" />                       
                    <img class="dark:bg-white  p-1 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg2.svg" alt="facebook" />
                    <img class="dark:bg-white  p-1 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg3.svg" alt="linkdin" />
                    <img class="dark:bg-white  p-1 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg4.svg" alt="instagram" />                                                             
                </div> %>
                <p>&#169; 2022 The Punfam Times</p>
                <div class="flex flex-wrap justify-center items-center">
                    <p class="mx-3 my-1">Contact us</p>
                    <p class="mx-3 my-1">Work with us</p>
                    <p class="mx-3 my-1">Advertise</p>
                    <p class="mx-3 my-1">Your AdChoices</p>
                    <p class="mx-3 my-1">Privacy Policy</p>
                    <p class="mx-3 my-1">Terms of Services</p>
                    <p class="mx-3 my-1">Site Map</p>
                    <p class="mx-3 my-1">Help</p>
                    <p class="mx-3 my-1">Subscriptions</p>
                </div> 
            </div>   
            </div>
        </div>    
    </footer>
      
    </div>