<div id="menuList" class="hidden p-5 bg-slate-100">
    
    <button data-controller="hello" type="button" id="closeIcon" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
        <svg data-action="click->hello#toggleMenu"  class="h-6 w-6 svgWidth" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>

    <div class="sidebar__list">
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">World</h1>            
        <h1 class="sidebar__item">Business</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1> 
        <hr />           
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
        <h1 class="sidebar__item">Home Page</h1>            
    </div>
</div>